= CSV.generate_line(['team', activity_team(activity), 'change member role', activity_user_recipient(activity, :team_user), activity_owner(activity), activity.created_at, "from #{activity.parameters[:old_role]} to #{activity.parameters[:new_role]}"])
