

$red: #881d12;


@mixin bump {
    0%      {transform: scale(1); }
    50%     {transform: scale(1.5); }
    100%    {transform: scale(1); }
}

@keyframes bump1 { @include bump; }
@keyframes bump2 {@include bump;}

body {padding:50px; background:#ededed;}

.vote-count {
  width:40px;
  height:35px;
  text-align:center;
  color:$red;
  font:20px/1.5 georgia;
  margin-bottom:10px;
  animation: bump .3s; 
  &.bumped {
    animation: bump2 .3s; 
  }
}

.vote-btn {
  appearance:none;
  border-radius:3px;
  border:0;
  background:#fff;
  padding:15px 12px 15px 40px;
  font:bold 9px/1.2 arial;
  text-transform:uppercase;
  letter-spacing:1px;
  color:$red;
  box-shadow:0 1px 1px rgba(0,0,0,.2);
  outline:none;
  position:relative;
  transition: all .3s ease-out; 
  cursor:pointer;
  overflow:hidden;
  
  .icon {
        position:absolute;
    content: "";
    left:10px;
    top:10px;
    width:20px;
    height:20px;
    border-radius:10px;
    display:inline-block;
    background:$red url(https://jamesmuspratt.com/codepen/img/checkmark.svg) no-repeat 2px 1px;
    background-size:16px auto;
  transition: all .3s ease-out; 

  }
  
}
  

.vote-btn.complete {
  padding-left:15px;
  background:#c1c0bb;
  color: #fff;
  .icon {
    opacity:0;
    /* transform: rotateX(90deg); */
      transform: scale(0); 
 }
}
