section.sign-up {
  input#user_email {
    border-radius: 4px 4px 0 0;
  }
  input#user_username, input#user_password {
    border-radius: 0px;
  }
  input#user_password_confirmation {
    border-radius: 0 0 4px 4px;
  }
  input[type="email"] {
    border: 0px;
  }
}

.login {
  input[type="text"] {
    border-radius: 4px 4px 0 0;
  }
  input[type="password"] {
    border-radius: 0 0 4px 4px;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    background: rgba(0,0,0,0.1);
    @include input-placeholder(lighten($second-colour,20%));
    font-size: 15px;
    color: $logo-text-colour;
  }
  button[type="submit"] {
    margin-bottom: 1em;
  }
  input[type="email"]:last-of-type {
    border-radius: 4px;
    border: 0px;
  }
  .btn-link {
    color: $white
  }
}

textarea.fixed-size {
  max-height: 300px;
  min-height: 150px;
  resize: vertical;
}

.twitter-typeahead, .tt-dropdown-menu {
  width: 100%;
}
