.panel-overview {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  .fa {
    color: $overview-icon-color;
    border-radius: 100%;
    padding: 0.5em 0.3em 0em 0.3em ;
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 2em;
    &.registries {
      background: $overview-icon-registries-bg;
    }
    &.users {
      background: $overview-icon-users-bg;
    }
    &.teams {
      background: $overview-icon-teams-bg;
    }
    &.namespaces {
      background: $overview-icon-namespaces-bg;
    }
  }
}

#profile .panel {
  max-width: 700px;
}

.panel-no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.panel .panel-heading .col-sm-6:last-of-type > a {
  margin-top: 8px;
}
