- if activity.trackable
  = CSV.generate_line(['webhook', activity.trackable.url, 'update', '-', activity_owner(activity), activity.created_at, "owned by namespace #{activity.trackable.namespace.name}"])
- else
  = CSV.generate_line(['webhook', activity.parameters[:webhook_host], 'update', '-', activity_owner(activity), activity.created_at, "owned by namespace #{activity.parameters[:namespace_name]}"])
