# {{ansible_managed}}

export MESOS_MASTER="{{ mesos_zookeeper_masters }}"
export MESOS_CONTAINERIZERS="{{ mesos_containerizers }}"
export MESOS_EXECUTOR_REGISTRATION_TIMEOUT="{{ mesos_executor_timeout }}"
export MESOS_PORT="{{ mesos_slave_port }}"
export MESOS_WORK_DIR="{{ mesos_work_dir }}"

# Additional configs
{% for config_item in mesos_slave_additional_configs %}
export {{ mesos_option_prefix }}{{ config_item.name }}={{ config_item.value }}
{% endfor %}
