# {{ansible_managed}}

export MESOS_QUORUM="{{ mesos_quorum }}"
export MESOS_WORK_DIR="{{ mesos_work_dir }}"
export MESOS_PORT="{{ mesos_master_port }}"

# Additional configs
{% for config_item in mesos_master_additional_configs %}
export {{ mesos_option_prefix }}{{ config_item.name }}={{ config_item.value }}
{% endfor %}
