
.oops {
  padding-top: 2em;
  text-align: center;
  .broken-lighthouse {
    margin: 2em 0;
  }
  h1, h3 {
    color: $third-colour;
    line-height: 0;
    color: $logo-text-colour;
  }
  h1 {
    font-size: 4em;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  h3 {
    padding-top: 2em;
    font-size: 1.5em;
  }
}