= CSV.generate_line(['team', activity_team(activity), 'change the description of the team', activity.recipient.name, activity_owner(activity), activity.created_at, "from #{activity.parameters[:old_description]} to #{activity.parameters[:new_description]}"])
