.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.992188;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-4.320000px;}
._3{margin-left:-3.140000px;}
._2{margin-left:-1.120000px;}
._6{width:1.242722px;}
._5{width:20.182000px;}
._0{width:28.100000px;}
._1{width:65.358000px;}
.fc5{color:rgb(112,132,145);}
.fc4{color:rgb(239,74,83);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(37,67,86);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(26,170,248);}
.fs2{font-size:40.000000px;}
.fs8{font-size:48.000000px;}
.fs6{font-size:64.000000px;}
.fs5{font-size:72.000000px;}
.fs4{font-size:74.000000px;}
.fs9{font-size:84.000000px;}
.fs7{font-size:96.000000px;}
.fs1{font-size:112.000000px;}
.fs3{font-size:116.000000px;}
.fs0{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y6{bottom:15.022266px;}
.y5{bottom:41.630968px;}
.y47{bottom:45.731462px;}
.y46{bottom:51.494066px;}
.y45{bottom:56.973526px;}
.y44{bottom:68.973526px;}
.y37{bottom:70.724869px;}
.y2a{bottom:73.599182px;}
.y43{bottom:80.973526px;}
.y36{bottom:82.724869px;}
.y29{bottom:87.999191px;}
.y42{bottom:92.973541px;}
.y19{bottom:93.611368px;}
.yd{bottom:93.621313px;}
.y35{bottom:94.724884px;}
.y1a{bottom:94.861765px;}
.yc{bottom:99.460457px;}
.y28{bottom:102.399193px;}
.y41{bottom:104.973541px;}
.y34{bottom:106.724884px;}
.y4{bottom:110.727158px;}
.y27{bottom:116.799194px;}
.y40{bottom:116.973541px;}
.y33{bottom:118.724884px;}
.y15{bottom:123.875824px;}
.y26{bottom:131.199196px;}
.y3f{bottom:140.973541px;}
.y32{bottom:142.724884px;}
.y4d{bottom:143.134941px;}
.y25{bottom:145.599197px;}
.yb{bottom:153.340462px;}
.y3{bottom:153.927170px;}
.y24{bottom:159.999199px;}
.y4c{bottom:170.074944px;}
.y23{bottom:174.399200px;}
.y3e{bottom:176.973541px;}
.y31{bottom:178.724884px;}
.y14{bottom:188.675835px;}
.y22{bottom:188.799202px;}
.y18{bottom:195.055155px;}
.y4b{bottom:197.014946px;}
.y2{bottom:197.127167px;}
.y3d{bottom:200.973541px;}
.y30{bottom:202.724884px;}
.y21{bottom:203.199200px;}
.ya{bottom:207.220467px;}
.y13{bottom:210.275841px;}
.y20{bottom:217.599199px;}
.y4a{bottom:223.954948px;}
.y3c{bottom:224.973534px;}
.y1f{bottom:226.235544px;}
.y2f{bottom:226.724884px;}
.y12{bottom:231.875839px;}
.y3b{bottom:236.973534px;}
.y2e{bottom:238.724884px;}
.y1e{bottom:238.846643px;}
.y1{bottom:240.327168px;}
.y49{bottom:250.894951px;}
.y11{bottom:253.475840px;}
.y9{bottom:253.600471px;}
.yf{bottom:254.408852px;}
.y17{bottom:260.011452px;}
.y3a{bottom:260.973534px;}
.y2d{bottom:262.724884px;}
.y1d{bottom:277.802095px;}
.y48{bottom:277.834953px;}
.ye{bottom:280.328850px;}
.y1c{bottom:281.331453px;}
.y16{bottom:281.611452px;}
.y39{bottom:284.973534px;}
.y2c{bottom:286.724884px;}
.y8{bottom:307.480476px;}
.y38{bottom:308.973534px;}
.y2b{bottom:310.724884px;}
.y10{bottom:314.132952px;}
.y1b{bottom:324.545862px;}
.y4f{bottom:333.069780px;}
.y7{bottom:354.458426px;}
.y4e{bottom:367.558111px;}
.h3{height:31.269531px;}
.h9{height:37.523438px;}
.h6{height:48.000000px;}
.h8{height:56.285156px;}
.h5{height:57.848633px;}
.ha{height:57.957031px;}
.hb{height:65.666016px;}
.h7{height:75.046875px;}
.h2{height:87.554688px;}
.h4{height:90.681641px;}
.h1{height:112.570312px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x3{left:25.199997px;}
.x6{left:27.369476px;}
.x8{left:30.057190px;}
.x11{left:36.914322px;}
.x7{left:39.354980px;}
.x5{left:43.810181px;}
.xe{left:70.964638px;}
.x10{left:74.729362px;}
.xc{left:118.729454px;}
.xa{left:155.199997px;}
.x9{left:163.771423px;}
.x2{left:361.098267px;}
.x1{left:365.082397px;}
.xb{left:376.914246px;}
.xf{left:378.964722px;}
.x12{left:401.057068px;}
.xd{left:409.552979px;}
.x13{left:424.914062px;}
.x4{left:518.343437px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-5.760000pt;}
._3{margin-left:-4.186667pt;}
._2{margin-left:-1.493333pt;}
._6{width:1.656962pt;}
._5{width:26.909333pt;}
._0{width:37.466667pt;}
._1{width:87.144000pt;}
.fs2{font-size:53.333333pt;}
.fs8{font-size:64.000000pt;}
.fs6{font-size:85.333333pt;}
.fs5{font-size:96.000000pt;}
.fs4{font-size:98.666667pt;}
.fs9{font-size:112.000000pt;}
.fs7{font-size:128.000000pt;}
.fs1{font-size:149.333333pt;}
.fs3{font-size:154.666667pt;}
.fs0{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:20.029689pt;}
.y5{bottom:55.507957pt;}
.y47{bottom:60.975283pt;}
.y46{bottom:68.658755pt;}
.y45{bottom:75.964701pt;}
.y44{bottom:91.964701pt;}
.y37{bottom:94.299825pt;}
.y2a{bottom:98.132243pt;}
.y43{bottom:107.964701pt;}
.y36{bottom:110.299825pt;}
.y29{bottom:117.332255pt;}
.y42{bottom:123.964722pt;}
.y19{bottom:124.815158pt;}
.yd{bottom:124.828417pt;}
.y35{bottom:126.299845pt;}
.y1a{bottom:126.482353pt;}
.yc{bottom:132.613942pt;}
.y28{bottom:136.532257pt;}
.y41{bottom:139.964722pt;}
.y34{bottom:142.299845pt;}
.y4{bottom:147.636210pt;}
.y27{bottom:155.732259pt;}
.y40{bottom:155.964722pt;}
.y33{bottom:158.299845pt;}
.y15{bottom:165.167765pt;}
.y26{bottom:174.932261pt;}
.y3f{bottom:187.964722pt;}
.y32{bottom:190.299845pt;}
.y4d{bottom:190.846588pt;}
.y25{bottom:194.132263pt;}
.yb{bottom:204.453949pt;}
.y3{bottom:205.236226pt;}
.y24{bottom:213.332265pt;}
.y4c{bottom:226.766591pt;}
.y23{bottom:232.532267pt;}
.y3e{bottom:235.964722pt;}
.y31{bottom:238.299845pt;}
.y14{bottom:251.567780pt;}
.y22{bottom:251.732269pt;}
.y18{bottom:260.073540pt;}
.y4b{bottom:262.686595pt;}
.y2{bottom:262.836222pt;}
.y3d{bottom:267.964722pt;}
.y30{bottom:270.299845pt;}
.y21{bottom:270.932266pt;}
.ya{bottom:276.293955pt;}
.y13{bottom:280.367788pt;}
.y20{bottom:290.132266pt;}
.y4a{bottom:298.606598pt;}
.y3c{bottom:299.964712pt;}
.y1f{bottom:301.647392pt;}
.y2f{bottom:302.299845pt;}
.y12{bottom:309.167786pt;}
.y3b{bottom:315.964712pt;}
.y2e{bottom:318.299845pt;}
.y1e{bottom:318.462191pt;}
.y1{bottom:320.436223pt;}
.y49{bottom:334.526601pt;}
.y11{bottom:337.967786pt;}
.y9{bottom:338.133962pt;}
.yf{bottom:339.211802pt;}
.y17{bottom:346.681936pt;}
.y3a{bottom:347.964712pt;}
.y2d{bottom:350.299845pt;}
.y1d{bottom:370.402794pt;}
.y48{bottom:370.446604pt;}
.ye{bottom:373.771800pt;}
.y1c{bottom:375.108604pt;}
.y16{bottom:375.481936pt;}
.y39{bottom:379.964712pt;}
.y2c{bottom:382.299845pt;}
.y8{bottom:409.973969pt;}
.y38{bottom:411.964712pt;}
.y2b{bottom:414.299845pt;}
.y10{bottom:418.843936pt;}
.y1b{bottom:432.727816pt;}
.y4f{bottom:444.093040pt;}
.y7{bottom:472.611234pt;}
.y4e{bottom:490.077482pt;}
.h3{height:41.692708pt;}
.h9{height:50.031250pt;}
.h6{height:64.000000pt;}
.h8{height:75.046875pt;}
.h5{height:77.131510pt;}
.ha{height:77.276042pt;}
.hb{height:87.554688pt;}
.h7{height:100.062500pt;}
.h2{height:116.739583pt;}
.h4{height:120.908854pt;}
.h1{height:150.093750pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x3{left:33.599996pt;}
.x6{left:36.492635pt;}
.x8{left:40.076253pt;}
.x11{left:49.219096pt;}
.x7{left:52.473307pt;}
.x5{left:58.413574pt;}
.xe{left:94.619517pt;}
.x10{left:99.639150pt;}
.xc{left:158.305939pt;}
.xa{left:206.933329pt;}
.x9{left:218.361898pt;}
.x2{left:481.464355pt;}
.x1{left:486.776530pt;}
.xb{left:502.552327pt;}
.xf{left:505.286296pt;}
.x12{left:534.742757pt;}
.xd{left:546.070638pt;}
.x13{left:566.552083pt;}
.x4{left:691.124583pt;}
}
