@import "comments";

#write_comment_repository_btn {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px;
}

.tags .label.label-success {
  margin: 0px 2px;
}

#remove-repo button {
  padding: 0px 10px 0px 0px;
}

.remove-repo:focus, .remove-repo:hover, .remove-tag:focus, .remove-tag:hover {
  text-decoration: none;
}
