.login-picture {
  margin: 2em 0;
}

i.user-picture {
  padding-top: 5px;
}

.activitie-container .user-picture {
    margin-right: 0;
}

.user-picture {
  background-color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-right: 0.7em;
  text-align: center;
  width: 40px;
  /* Same as in: /vendor/assets/stylesheets/lifeitup/layout.scss LINE: 44 */
  border: 4px solid darken($header-user-bg, 15%);
  border-radius: 100px;
}
