# {{ ansible_managed }}

[Unit]
Description=Mesos Slave Service
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/mesos-init-wrapper slave
KillMode=process
Restart=always
RestartSec=20
TimeoutSec=300
LimitNOFILE=16384
CPUAccounting=true
MemoryAccounting=true
User={{ mesos_owner }}
Group={{ mesos_group }}

[Install]
WantedBy=multi-user.target
